html, body {
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: black;
  image-rendering: pixelated;
  image-rendering: crisp-edges;

}
canvas {
  display: block;
}
